<div class="breadcumb-wrapper" data-bg-src="assets/img/background.jpg">
  <div class="container">
    <div class="breadcumb-content">
      <h2 class="breadcumb-title"><%=pagename%></h2>
      <div class="breadcumb-menu-wrapper">
        <ul class="breadcumb-menu">
          <li>
            <a href="/">Home</a>
          </li>
          <li><%=pathdestination%></li>
        </ul>
      </div>
    </div>
  </div>
</div>
