<div class="th-menu-wrapper">
  <div class="th-menu-area">
    <button class="th-menu-toggle">✕</button>
    <div class="mobile-logo">
      <a href="#"><img src="assets/img/logosiri.png" alt="Siri" /></a>
      <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/about">About US</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact US</a></li>
      </ul>
    </div>
    <div class="th-mobile-menu onepage-nav"></div>
  </div>
</div>

<header class="th-header">
  <div class="container th-container">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <div class="header-logo">
          <a href="#"
            ><img src="assets/img/logosiri.png" width="150px" alt="logosiri"
          /></a>
        </div>
      </div>
      <div class="col-auto">
        <nav class="main-menu onepage-nav mobile-menu-active">
          <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/about">About US</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact US</a></li>
          </ul>
        </nav>
        <button class="th-menu-toggle d-inline-block d-lg-none">☵</button>
      </div>
      <div class="col-auto d-none d-lg-block">
        <div class="d-none d-md-block">
          <a target="_blank" href="#" class="th-btn"
            >Enquiry Now<i class="fa-solid fa-arrow-right ms-1"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</header>
