<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Siri's Hair & Beauty Clinic</title>
    <meta name="description" content="Siri's Hair & Beauty Clinic" />
    <meta name="keywords" content="Siri's Hair & Beauty Clinic" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
    />

    <link rel="icon" sizes="76x76" href="assets/img/logosiri" />

    <meta name="msapplication-TileColor" content="#ffffff" />

    <meta name="msapplication-TileImage" content="assets/img/logosiri" />

    <meta name="theme-color" content="#ffffff" />

    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&amp;family=DM+Sans:wght@400;500;700&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css" />
    <link rel="stylesheet" href="assets/css/slick.min.css" />
    <link rel="stylesheet" href="assets/css/odometer-theme-default.css" />
    <link rel="stylesheet" href="assets/css/jquery.datetimepicker.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/style2.css" />
  </head>
  <body>
    <!--==============================
     Mobile Menu
  ==============================-->
    <div class="th-menu-wrapper">
      <div class="th-menu-area">
        <button class="th-menu-toggle">✕</button>
        <div class="mobile-logo">
          <a href="#"><img src="assets/img/logosiri.png" alt="Siri" /></a>
          <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/about">About US</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact US</a></li>
          </ul>
        </div>
        <div class="th-mobile-menu onepage-nav"></div>
      </div>
    </div>

    <header class="th-header">
      <div class="container th-container">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto">
            <div class="header-logo">
              <a href="#"
                ><img
                  src="assets/img/logosiri.png"
                  width="150px"
                  alt="logosiri"
              /></a>
            </div>
          </div>
          <div class="col-auto">
            <nav class="main-menu onepage-nav mobile-menu-active">
              <ul>
                <li><a href="/">Home Page</a></li>
                <li><a href="/about">About US</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact US</a></li>
              </ul>
            </nav>
            <button class="th-menu-toggle d-inline-block d-lg-none">☵</button>
          </div>
          <div class="col-auto d-none d-lg-block">
            <div class="d-none d-md-block">
              <a target="_blank" href="#" class="th-btn"
                >Enquiry Now<i class="fa-solid fa-arrow-right ms-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="breadcumb-wrapper" data-bg-src="assets/img/background.jpg">
      <div class="container">
        <div class="breadcumb-content">
          <h2 class="breadcumb-title">About Us</h2>
          <div class="breadcumb-menu-wrapper">
            <ul class="breadcumb-menu">
              <li>
                <a href="/">Home</a>
              </li>
              <li>About Us</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="about-sec overflow-hidden space-top" id="about-sec">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 wow fadeInLeft">
            <div class="img-box1">
              <div class="img1">
                <img src="assets/img/about/about.jpg" alt="About" />
              </div>

              <!-- <div class="img3">
                <img src="assets/img/about/flower_1_5.png" alt="About" />
              </div> -->
            </div>
          </div>
          <div class="col-xl-6">
            <div class="ps-xl-4 wow fadeInRight">
              <div class="title-area mb-25">
                <span class="sub-title"
                  >About Us
                  <img src="assets/img/theme-img/title_right.svg" alt="" />
                </span>
                <h2 class="sec-title mb-20">
                  Transform Your Look with Exquisite Hair and Beauty Services
                </h2>
                <p class="mb-30">
                  Elevate your style and enhance your allure with our exclusive
                  range of hair and beauty treatments. From chic haircuts and
                  vibrant hair coloring to luxurious facials and relaxing body
                  massages, our salon offers a comprehensive selection of
                  services to cater to your every beauty desire.
                </p>
              </div>
              <div class="about-wrapper">
                <div class="about-info style2">
                  <h3 class="about-info_title h6">
                    <img
                      src="assets/img/theme-img/title_left.svg"
                      alt=""
                    />Personal Program
                  </h3>
                </div>
                <div class="about-info style2">
                  <h3 class="about-info_title h6">
                    <img
                      src="assets/img/theme-img/title_left.svg"
                      alt=""
                    />Expert Service
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="overflow-hidden space-top"
      data-pos-for=".choose-area2"
      data-sec-pos="bottom-half"
    >
      <div class="container">
        <div class="counter-sec style4 space-top">
          <div class="th-counterup wow fadeInLeft">
            <div class="inner">
              <div class="icon">
                <img src="assets/img/icon/counter_1_1.svg" alt="" />
              </div>
              <div class="content">
                <h3 class="counter">
                  <span class="odometer" data-count="26">00</span>
                  <span class="counter-number">+</span>
                </h3>
                <p class="counter-card_text">Years of Experience</p>
              </div>
            </div>
          </div>
          <div class="th-counterup wow fadeInLeft">
            <div class="inner">
              <div class="icon">
                <img src="assets/img/icon/counter_1_2.svg" alt="" />
              </div>
              <div class="content">
                <h3 class="counter">
                  <span class="odometer" data-count="100">00</span>
                  <span class="counter-number">%</span>
                </h3>
                <p class="counter-card_text">Natural Products</p>
              </div>
            </div>
          </div>
          <div class="th-counterup wow fadeInLeft">
            <div class="inner">
              <div class="icon">
                <img src="assets/img/icon/counter_1_3.svg" alt="" />
              </div>
              <div class="content">
                <h3 class="counter">
                  <span class="odometer" data-count="56">00</span>
                  <span class="counter-number">k+</span>
                </h3>
                <p class="counter-card_text">Satisfied Clients</p>
              </div>
            </div>
          </div>
          <div class="th-counterup wow fadeInLeft">
            <div class="inner">
              <div class="icon">
                <img src="assets/img/icon/counter_1_4.svg" alt="" />
              </div>
              <div class="content">
                <h3 class="counter">
                  <span class="odometer" data-count="36">00</span>
                  <span class="counter-number">+</span>
                </h3>
                <p class="counter-card_text">Specialists Team</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="choose-area2 pale-purple overflow-hidden space">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-7">
            <div class="pe-xl-5 me-xl-3">
              <div class="title-area mt-60 mb-25 wow fadeInLeft">
                <span class="sub-title"
                  >Why Choose Us
                  <img src="assets/img/theme-img/title_right.svg" alt="" />
                </span>
                <h2 class="sec-title">
                  We Have 25 Years Of Experience With Nail Style.
                </h2>
                <p class="mt-n2 mb-35">
                  We prioritize the cleanliness and comfort of our clients,
                  ensuring a hygienic and relaxing environment throughout your
                  visit. Our salon adheres to strict sanitization protocols, and
                  all our tools.
                </p>
              </div>
              <div class="choose-about-wrap">
                <div class="choose-about wow fadeInUp">
                  <div class="choose-about_icon">
                    <img src="assets/img/icons/choose_1.svg" alt="image" />
                  </div>
                  <div class="media-body">
                    <h3 class="box-title">Brand Nail Art Equipment</h3>
                    <p class="choose-about_text">
                      From classic manicures and pedicures to intricate nail art
                      and personalized nail extensions
                    </p>
                  </div>
                </div>
                <div class="choose-about wow fadeInUp">
                  <div class="choose-about_icon">
                    <img src="assets/img/icons/choose_2.svg" alt="image" />
                  </div>
                  <div class="media-body">
                    <h3 class="box-title">Best Place</h3>
                    <p class="choose-about_text">
                      That's why we only use premium quality nail polishes, gel,
                      and other nail products from trusted brands.
                    </p>
                  </div>
                </div>
                <div class="choose-about wow fadeInUp">
                  <div class="choose-about_icon">
                    <img src="assets/img/icons/choose_3.svg" alt="image" />
                  </div>
                  <div class="media-body">
                    <h3 class="box-title">Special Support</h3>
                    <p class="choose-about_text">
                      That's why we only use premium quality nail polishes, gel,
                      and other nail products from trusted brands.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="choose-image">
              <div class="img1 wow fadeInRight">
                <img src="assets/img/about/about2.png" alt="Choose" />
              </div>
              <!-- <div class="img2 movingX">
                <img src="assets/img/about/flower_1_3.png" alt="image" />
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="shape-mockup" data-top="0%" data-left="0%">
        <img src="assets/img/flower_1_1.png" alt="shape" />
      </div>

      <div
        class="shape-mockup d-none d-lg-block"
        data-bottom="0%"
        data-right="0%"
      >
        <img src="assets/img/flower_1_2.png" alt="shape" />
      </div>
    </div>

    <div
      class="appointment-sec bg-top-center space"
      id="contact-sec"
      data-bg-src="assets/img/bg/appointment_bg_3.jpg"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-6 wow fadeInLeft">
            <div class="title-area mb-25 text-center text-lg-start">
              <span class="sub-title"
                >Make An Appointment
                <img src="assets/img/theme-img/title_right.svg" alt="" />
              </span>
              <h2 class="sec-title text-white">
                Experience the Magic of Our Hair & Beauty Services
              </h2>
            </div>
            <div class="appointment-work text-center text-lg-start">
              <h4 class="work-title">Working Hours:</h4>
              <p>
                we are dedicated to delivering exceptional results and ensuring
                your nails make a bold and beautiful statement.
              </p>
              <ul class="working-list">
                <li>Monday to Sunday <span>10:00am - 08:00pm</span></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="appointment-quote-form wow fadeInUp">
              <div class="row">
                <div class="col-md-6 form-group">
                  <i class="fa-sharp fa-light fa-user"></i>
                  <input
                    type="text"
                    placeholder="First Name"
                    class="form-control"
                  />
                </div>
                <div class="col-md-6 form-group">
                  <i class="fa-sharp fa-light fa-user"></i>
                  <input
                    type="text"
                    placeholder="Last Name"
                    class="form-control"
                  />
                </div>
                <div class="col-md-6 form-group">
                  <i class="fa-light fa-envelope-open"></i>
                  <input
                    type="text"
                    placeholder="Email Address"
                    class="form-control"
                  />
                </div>
                <div class="col-md-6 form-group">
                  <i class="fa-light fa-phone"></i>
                  <input
                    type="text"
                    placeholder="Phone Number"
                    class="form-control"
                  />
                </div>
                <div class="form-group col-12">
                  <i class="fa-regular fa-tag"></i>
                  <select
                    name="subject"
                    id="subject"
                    class="form-select nice-select"
                  >
                    <option
                      value=""
                      disabled="disabled"
                      selected="selected"
                      hidden
                    >
                      Select Service
                    </option>
                    <option value="Lesar Treatment">Lesar Treatment</option>
                    <option value="Warts Removing Treatment">
                      Warts Removing Treatment
                    </option>
                    <option value="Makeup's">Makeup's</option>
                    <option value="Nail Art">Nail Art</option>
                    <option value="Body Massage">Body Massage</option>
                    <option value="Hydra Facial">Hydra Facial</option>
                    <option value="Pedicure & Manicure">
                      Pedicure & Manicure
                    </option>
                    <option value="Hair Cut">Hair Cut</option>
                    <option value="Hair Chemical Treatment">
                      Hair Chemical Treatment
                    </option>
                  </select>
                </div>
                <div class="form-group col-12">
                  <input
                    type="text"
                    class="date-pick form-control"
                    name="date"
                    id="date-pick"
                    placeholder="Select Date"
                  />
                  <i class="fa-light fa-calendar-days"></i>
                </div>
                <div class="form-group col-12">
                  <input
                    type="text"
                    class="time-pick form-control"
                    name="time"
                    id="time-pick"
                    placeholder="Select Time"
                  />
                  <i class="fa-light fa-clock"></i>
                </div>
                <div
                  class="btn-group justify-content-center justify-content-xl-start"
                >
                  <button class="th-btn style3 fw-btn">
                    Make An Appointment
                    <i class="fa-solid fa-arrow-right ms-2"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="overflow-hidden pale-purple space">
      <div class="container">
        <div class="row">
          <div class="title-area text-center mb-25">
            <span class="sub-title style2">Testimonials</span>
            <img src="assets/img/theme-img/title_shape_1.svg" alt="" />
            <h2 class="sec-title">Our Customer Feedback</h2>
          </div>
        </div>
        <div
          class="row slider-shadow th-carousel"
          data-slide-show="3"
          data-lg-slide-show="2"
          data-sm-slide-show="1"
          data-xs-slide-show="1"
        >
          <div class="col-md-6 col-lg-4">
            <div class="testi-grid style3 wow fadeInUp">
              <!-- <div class="testi-grid_img">
                <img src="assets/img/testimonial/testi_2_1.jpg" alt="" />
              </div> -->
              <h3 class="box-title">
                Siris Hair & Beauty Clinic sets the standard for professionalism
                and quality in the beauty industry. Every visit leaves me
                feeling rejuvenated and revitalized.
              </h3>
              <div class="testi-grid_profile">
                <div class="media-body">
                  <h5 class="testi-grid_name">Angelina Margret</h5>
                  <p class="testi-grid_desig">Customer</p>
                </div>
              </div>
              <div class="testi-quote">
                <img src="assets/img/shape/quote_2.png" alt="" />
              </div>
              <div class="testi-shape1">
                <img src="assets/img/shape/leaf_2.svg" alt="" />
              </div>
              <div class="testi-shape2">
                <img src="assets/img/shape/flower_1_6.svg" alt="" />
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="testi-grid style3 wow fadeInDown">
              <!-- <div class="testi-grid_img">
                <img src="assets/img/testimonial/testi_2_2.jpg" alt="" />
              </div> -->
              <h3 class="box-title">
                Siris Hair & Beauty Clinic exceeded my expectations! The team's
                attention to detail and personalized care left me feeling
                pampered and satisfied.
              </h3>
              <div class="testi-grid_profile">
                <div class="media-body">
                  <h5 class="testi-grid_name">Senjuti das</h5>
                  <p class="testi-grid_desig">Customer</p>
                </div>
              </div>
              <div class="testi-quote">
                <img src="assets/img/shape/quote_2.png" alt="" />
              </div>
              <div class="testi-shape1">
                <img src="assets/img/shape/leaf_2.svg" alt="" />
              </div>
              <div class="testi-shape2">
                <img src="assets/img/shape/flower_1_6.svg" alt="" />
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="testi-grid style3 wow fadeInUp">
              <!-- <div class="testi-grid_img">
                <img src="assets/img/testimonial/testi_2_3.jpg" alt="" />
              </div> -->
              <h3 class="box-title">
                My visit to Siris Hair & Beauty Clinic was truly transformative.
                The skilled team not only enhanced my appearance but also
                boosted my confidence.
              </h3>
              <div class="testi-grid_profile">
                <div class="media-body">
                  <h5 class="testi-grid_name">Jenifer Lopez</h5>
                  <p class="testi-grid_desig">Customer</p>
                </div>
              </div>
              <div class="testi-quote">
                <img src="assets/img/shape/quote_2.png" alt="" />
              </div>
              <div class="testi-shape1">
                <img src="assets/img/shape/leaf_2.svg" alt="" />
              </div>
              <div class="testi-shape2">
                <img src="assets/img/shape/flower_1_6.svg" alt="" />
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="testi-grid style3 wow fadeInDown">
              <h3 class="box-title">
                Entering Siris Hair & Beauty Clinic felt like stepping into a
                tranquil sanctuary. The serene ambiance, coupled with expert
                care, offered an unparalleled beauty experience.
              </h3>
              <div class="testi-grid_profile">
                <div class="media-body">
                  <h5 class="testi-grid_name">Dianne Russell</h5>
                  <p class="testi-grid_desig">Customer</p>
                </div>
              </div>
              <div class="testi-quote">
                <img src="assets/img/shape/quote_2.png" alt="" />
              </div>
              <div class="testi-shape1">
                <img src="assets/img/shape/leaf_2.svg" alt="" />
              </div>
              <div class="testi-shape2">
                <img src="assets/img/shape/flower_1_6.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shape-mockup" data-top="0%" data-left="0%">
        <img src="assets/img/shape/flower_1_1.png" alt="shape" />
      </div>
      <div
        class="shape-mockup d-none d-lg-block"
        data-bottom="0%"
        data-right="0%"
      >
        <img src="assets/img/shape/flower_1_2.png" alt="shape" />
      </div>
    </div>

    <footer class="footer-wrapper footer-layout1">
      <div class="widget-area">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-md-6 col-xl-3">
              <div class="widget footer-widget">
                <div class="th-widget-about">
                  <div class="about-logo">
                    <a href="index.html"
                      ><img
                        src="assets/img/logosiri1.png"
                        alt="Siri's"
                        width="100px"
                    /></a>
                  </div>

                  <p class="about-text">Siri's Hair & Beauty Clinc</p>

                  <div class="working-time">
                    <span class="title">We Are Available:</span>
                    <p class="desc">Mon-Sun: 10.00 am to 08.00 pm</p>
                  </div>

                  <div class="th-social footer-social">
                    <a href="https://www.facebook.com/"
                      ><i class="fab fa-facebook-f"></i></a
                    ><a href="https://www.twitter.com/"
                      ><i class="fab fa-twitter"></i></a
                    ><a href="https://www.linkedin.com/"
                      ><i class="fab fa-linkedin-in"></i></a
                    ><a href="https://www.behance.net/"
                      ><i class="fa-brands fa-behance"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-xl-2">
              <div class="widget widget_nav_menu footer-widget">
                <h3 class="widget_title">Quick link</h3>

                <div class="menu-all-pages-container">
                  <ul class="menu">
                    <li><a href="about.html">About Us</a></li>

                    <li>
                      <a href="booking.html">Work Gallery</a>
                    </li>

                    <li>
                      <a href="contact.html">Privacy Policy</a>
                    </li>

                    <li>
                      <a href="service.html">Our Services</a>
                    </li>

                    <li><a href="price.html">Pricing Plans</a></li>

                    <li>
                      <a href="contact.html">Contact Us</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-xl-auto">
              <div class="widget footer-widget">
                <h3 class="widget_title">Contact Details</h3>

                <div class="th-widget-about">
                  <h4 class="footer-info-title">Phone Number</h4>

                  <p class="footer-info">
                    <i class="fa-sharp fa-solid fa-phone"></i
                    ><a class="text-inherit" href="tel:+91- 9959740145"
                      >+91- 9959740145</a
                    >
                  </p>

                  <h4 class="footer-info-title">Email Address</h4>

                  <p class="footer-info">
                    <i class="fas fa-envelope"></i
                    ><a class="text-inherit" href="mailto:ksrihanrao@gmail.com"
                      >ksrihanrao@gmail.com</a
                    >
                  </p>

                  <h4 class="footer-info-title">Office Location</h4>

                  <p class="footer-info">
                    <i class="fas fa-map-marker-alt"></i>1St Floor, Karthikeya
                    Nilayam,<br />1-4-879/53&53 <br />
                    Gandhinagar, Kavadiguda
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-xl-auto">
              <div class="widget footer-widget">
                <h4 class="widget_title">Maps</h4>

                <div class="newsletter-widget">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.007623725124!2d78.48972651435402!3d17.414239288067454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb90c6ce5bfc15%3A0xa2b3ec2173e74314!2s17.4143582%2C%2078.4919147!5e0!3m2!1sen!2sin!4v1645271594347!5m2!1sen!2sin"
                    width="100%"
                    height="280"
                    style="border: 0"
                    allowfullscreen
                    loading="lazy"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-wrap">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4">
              <p class="copyright-text text-white">
                © 2024<a href="/"> Siri's</a>. All Rights Reserved.
              </p>
            </div>

            <div class="col-lg-4">
              <p class="copyright-text text-white">
                Developed By
                <a href="https://ibharatmedia.com/">I BHARAT Media</a>
              </p>
            </div>

            <div class="col-lg-4">
              <div class="footer-links">
                <ul>
                  <li>
                    <a href="contact.html">Terms & Conditions</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shape-mockup" data-top="0%" data-left="0%">
        <img src="assets/img/shape/footer_shape_1.png" alt="shape" />
      </div>

      <div
        class="shape-mockup d-none d-xl-block"
        data-bottom="12%"
        data-right="0%"
      >
        <img src="assets/img/shape/footer_shape_2.png" alt="shape" />
      </div>
    </footer>

    <div class="scroll-top">
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path
          d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
          style="
            transition: stroke-dashoffset 10ms linear 0s;
            stroke-dasharray: 307.919, 307.919;
            stroke-dashoffset: 307.919;
          "
        ></path>
      </svg>
    </div>

    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>

    <script src="assets/js/slick.min.js"></script>

    <script src="assets/js/bootstrap.min.js"></script>

    <script src="assets/js/jquery.magnific-popup.min.js"></script>

    <script src="assets/js/jquery-ui.min.js"></script>

    <script src="assets/js/imagesloaded.pkgd.min.js"></script>

    <script src="assets/js/isotope.pkgd.min.js"></script>

    <script src="assets/js/odometer.js"></script>

    <script src="assets/js/appear-2.js"></script>

    <script src="assets/js/nice-select.min.js"></script>

    <script src="assets/js/jquery.datetimepicker.min.js"></script>

    <script src="assets/js/tilt.min.js"></script>

    <script src="assets/js/wow.min.js"></script>

    <script src="assets/js/main.js"></script>
    <script src="assets/js/main2.js"></script>
  </body>
</html>
