<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Siri's Beauty Clinic</title>
    <meta name="description" content="Siri's Hair & Beauty Clinic" />
    <meta name="keywords" content="Siri's Hair & Beauty Clinic" />
    <link rel="icon" sizes="76x76" href="assets/img/logosiri" />

    <meta name="msapplication-TileColor" content="#ffffff" />

    <meta name="msapplication-TileImage" content="assets/img/logosiri" />

    <meta name="theme-color" content="#ffffff" />

    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&amp;family=DM+Sans:wght@400;500;700&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css" />
    <link rel="stylesheet" href="assets/css/slick.min.css" />
    <link rel="stylesheet" href="assets/css/odometer-theme-default.css" />
    <link rel="stylesheet" href="assets/css/jquery.datetimepicker.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/style2.css" />
  </head>
  <body>
    <!-- ======= Header ======= -->
    <%- include('./partials/header') %>
    <!-- End Header -->
    <!-- ======= breaadCrumb ======= -->
    <%- include('./partials/breadcrumb', { pagename: "Services",
    pathdestination:"OurServices" }) %>
    <!-- breaadCrumb -->

    <!--Services-->
    <section class="space">
      <div class="container">
        <div class="row ser-gy-4">
          <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="service-grid wow fadeInUp">
              <div
                class="service-grid_overlay"
                data-bg-src="assets/img/shape/service_shape.png"
              ></div>
              <h3 class="service-grid_number">01</h3>
              <div class="service-grid_icon">
                <img src="assets/img/icon/service_3_1.svg" alt="" />
              </div>
              <div class="service-grid-content">
                <h3 class="box-title">
                  <a href="service-details.html">THREADING</a>
                </h3>
                <p class="service-grid_text">
                  Discover precise hair removal and brow shaping through
                  threading at our beauty clinic. Experience the artistry today!
                </p>
              </div>

              <div class="service-grid_action mt-4">
                <a target="_blank" href="#" class="th-btn"
                  >Download Broucher<i class="fa-solid fa-arrow-right ms-1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="service-grid wow fadeInDown">
              <div
                class="service-grid_overlay"
                data-bg-src="assets/img/shape/service_shape.png"
              ></div>
              <h3 class="service-grid_number">02</h3>
              <div class="service-grid_icon">
                <img src="assets/img/icon/service_3_2.svg" alt="" />
              </div>
              <div class="service-grid-content">
                <h3 class="box-title">
                  <a href="service-details.html">Hairdryer</a>
                </h3>
                <p class="service-grid_text">
                  Hairdryers are salons and households for various hair styling
                  purposes, such as drying wet hair after washing
                </p>
              </div>
              <div class="service-grid_action mt-4">
                <a target="_blank" href="#" class="th-btn"
                  >Download Broucher<i class="fa-solid fa-arrow-right ms-1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="service-grid wow fadeInUp">
              <div
                class="service-grid_overlay"
                data-bg-src="assets/img/shape/service_shape.png"
              ></div>
              <h3 class="service-grid_number">03</h3>
              <div class="service-grid_icon">
                <img src="assets/img/icon/service_3_3.svg" alt="" />
              </div>
              <div class="service-grid-content">
                <h3 class="box-title">
                  <a href="service-details.html">Hair Coloring</a>
                </h3>
                <p class="service-grid_text">
                  Hair coloring is the process of changing the natural color of
                  ones hair using different types color treatments.
                </p>
              </div>
              <div class="service-grid_action mt-4">
                <a target="_blank" href="#" class="th-btn"
                  >Download Broucher<i class="fa-solid fa-arrow-right ms-1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="service-grid wow fadeInDown">
              <div
                class="service-grid_overlay"
                data-bg-src="assets/img/shape/service_shape.png"
              ></div>
              <h3 class="service-grid_number">04</h3>
              <div class="service-grid_icon">
                <img src="assets/img/icon/service_3_4.svg" alt="" />
              </div>
              <div class="service-grid-content">
                <h3 class="box-title">
                  <a href="service-details.html">Hair Style</a>
                </h3>
                <p class="service-grid_text">
                  If youre unsure about a specific style or how to achieve it, a
                  hairstylist can offer you achieve the desired look.
                </p>
              </div>
              <div class="service-grid_action mt-4">
                <a target="_blank" href="#" class="th-btn"
                  >Download Broucher<i class="fa-solid fa-arrow-right ms-1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="service-grid wow fadeInUp">
              <div
                class="service-grid_overlay"
                data-bg-src="assets/img/shape/service_shape.png"
              ></div>
              <h3 class="service-grid_number">05</h3>
              <div class="service-grid_icon">
                <img src="assets/img/icon/service_3_5.svg" alt="" />
              </div>
              <div class="service-grid-content">
                <h3 class="box-title">
                  <a href="service-details.html">Smooth Shaving</a>
                </h3>
                <p class="service-grid_text">
                  Once you finish shaving, rinse your skin with cool water to
                  close the pores and then pat dry with a clean towel.
                </p>
              </div>
              <div class="service-grid_action mt-4">
                <a target="_blank" href="#" class="th-btn"
                  >Download Broucher<i class="fa-solid fa-arrow-right ms-1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="service-grid wow fadeInDown">
              <div
                class="service-grid_overlay"
                data-bg-src="assets/img/shape/service_shape.png"
              ></div>
              <h3 class="service-grid_number">06</h3>
              <div class="service-grid_icon">
                <img src="assets/img/icon/service_3_6.svg" alt="" />
              </div>
              <div class="service-grid-content">
                <h3 class="box-title">
                  <a href="service-details.html">Hair Trimming</a>
                </h3>
                <p class="service-grid_text">
                  Hair trimming is the process of cutting the ends of your hair
                  to maintain its length, shape, and overall health.
                </p>
              </div>
              <div class="service-grid_action mt-4">
                <a target="_blank" href="#" class="th-btn"
                  >Download Broucher<i class="fa-solid fa-arrow-right ms-1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="service-grid wow fadeInUp">
              <div
                class="service-grid_overlay"
                data-bg-src="assets/img/shape/service_shape.png"
              ></div>
              <h3 class="service-grid_number">01</h3>
              <div class="service-grid_icon">
                <img src="assets/img/icon/service_3_1.svg" alt="" />
              </div>
              <div class="service-grid-content">
                <h3 class="box-title">
                  <a href="service-details.html">Haircut</a>
                </h3>
                <p class="service-grid_text">
                  A versatile and classic haircut that can be worn in different
                  lengths and styles, suitable for various face shapes
                </p>
              </div>

              <div class="service-grid_action mt-4">
                <a target="_blank" href="#" class="th-btn"
                  >Download Broucher<i class="fa-solid fa-arrow-right ms-1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="service-grid wow fadeInDown">
              <div
                class="service-grid_overlay"
                data-bg-src="assets/img/shape/service_shape.png"
              ></div>
              <h3 class="service-grid_number">02</h3>
              <div class="service-grid_icon">
                <img src="assets/img/icon/service_3_2.svg" alt="" />
              </div>
              <div class="service-grid-content">
                <h3 class="box-title">
                  <a href="service-details.html">Hairdryer</a>
                </h3>
                <p class="service-grid_text">
                  Hairdryers are salons and households for various hair styling
                  purposes, such as drying wet hair after washing
                </p>
              </div>
              <div class="service-grid_action mt-4">
                <a target="_blank" href="#" class="th-btn"
                  >Download Broucher<i class="fa-solid fa-arrow-right ms-1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="service-grid wow fadeInUp">
              <div
                class="service-grid_overlay"
                data-bg-src="assets/img/shape/service_shape.png"
              ></div>
              <h3 class="service-grid_number">03</h3>
              <div class="service-grid_icon">
                <img src="assets/img/icon/service_3_3.svg" alt="" />
              </div>
              <div class="service-grid-content">
                <h3 class="box-title">
                  <a href="service-details.html">Hair Coloring</a>
                </h3>
                <p class="service-grid_text">
                  Hair coloring is the process of changing the natural color of
                  ones hair using different types color treatments.
                </p>
              </div>
              <div class="service-grid_action mt-4">
                <a target="_blank" href="#" class="th-btn"
                  >Download Broucher<i class="fa-solid fa-arrow-right ms-1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="service-grid wow fadeInDown">
              <div
                class="service-grid_overlay"
                data-bg-src="assets/img/shape/service_shape.png"
              ></div>
              <h3 class="service-grid_number">04</h3>
              <div class="service-grid_icon">
                <img src="assets/img/icon/service_3_4.svg" alt="" />
              </div>
              <div class="service-grid-content">
                <h3 class="box-title">
                  <a href="service-details.html">Hair Style</a>
                </h3>
                <p class="service-grid_text">
                  If youre unsure about a specific style or how to achieve it, a
                  hairstylist can offer you achieve the desired look.
                </p>
              </div>
              <div class="service-grid_action mt-4">
                <a target="_blank" href="#" class="th-btn"
                  >Download Broucher<i class="fa-solid fa-arrow-right ms-1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="service-grid wow fadeInUp">
              <div
                class="service-grid_overlay"
                data-bg-src="assets/img/shape/service_shape.png"
              ></div>
              <h3 class="service-grid_number">05</h3>
              <div class="service-grid_icon">
                <img src="assets/img/icon/service_3_5.svg" alt="" />
              </div>
              <div class="service-grid-content">
                <h3 class="box-title">
                  <a href="service-details.html">Smooth Shaving</a>
                </h3>
                <p class="service-grid_text">
                  Once you finish shaving, rinse your skin with cool water to
                  close the pores and then pat dry with a clean towel.
                </p>
              </div>
              <div class="service-grid_action mt-4">
                <a target="_blank" href="#" class="th-btn"
                  >Download Broucher<i class="fa-solid fa-arrow-right ms-1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="service-grid wow fadeInDown">
              <div
                class="service-grid_overlay"
                data-bg-src="assets/img/shape/service_shape.png"
              ></div>
              <h3 class="service-grid_number">06</h3>
              <div class="service-grid_icon">
                <img src="assets/img/icon/service_3_6.svg" alt="" />
              </div>
              <div class="service-grid-content">
                <h3 class="box-title">
                  <a href="service-details.html">Hair Trimming</a>
                </h3>
                <p class="service-grid_text">
                  Hair trimming is the process of cutting the ends of your hair
                  to maintain its length, shape, and overall health.
                </p>
              </div>
              <div class="service-grid_action mt-4">
                <a target="_blank" href="#" class="th-btn"
                  >Download Broucher<i class="fa-solid fa-arrow-right ms-1"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="shape-mockup jump d-none d-xl-block"
        data-top="5%"
        data-left="0%"
      >
        <img src="assets/img/shape/leaves_1.png" alt="shape" />
      </div>
      <div
        class="shape-mockup jump d-none d-xl-block"
        data-bottom="5%"
        data-right="0%"
      >
        <img src="assets/img/shape/leaves_7.png" alt="shape" />
      </div>
    </section>
    <!--End Of Services-->

    <!-- ======= Footer ======= -->
    <%- include('./partials/footer') %>
    <!-- End Header -->
  </body>
</html>
